@font-face {
    font-family: 'Inter Tight';
    src: url('../font.inter/InterTight-Regular.eot');
    src: url('InterTight-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font.inter/InterTight-Regular.woff2') format('woff2'),
        url('../font.inter/InterTight-Regular.woff') format('woff'),
        url('../font.inter/InterTight-Regular.ttf') format('truetype'),
        url('../font.inter/InterTight-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cabin Condensed';
    src: url('../cabin/CabinCondensed-Regular.eot');
    src: url('CabinCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../cabin/CabinCondensed-Regular.woff2') format('woff2'),
        url('../cabin/CabinCondensed-Regular.woff') format('woff'),
        url('../cabin/CabinCondensed-Regular.ttf') format('truetype'),
        url('../cabin/CabinCondensed-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

